USE [master]
GO

-- Tạo cơ sở dữ liệu FoodieDB
CREATE DATABASE [FoodieDB]
GO

-- Các cài đặt khác cho cơ sở dữ liệu
ALTER DATABASE [FoodieDB] SET AUTO_CLOSE OFF 
GO

-- Thiết lập tùy chọn QUERY_STORE trong các lệnh riêng biệt
ALTER DATABASE [FoodieDB] SET QUERY_STORE (OPERATION_MODE = READ_WRITE)
GO

-- Chuyển sang sử dụng cơ sở dữ liệu FoodieDB
USE [FoodieDB]
GO
CREATE TABLE [dbo].[carts] (
    [CartId] INT IDENTITY(1,1) NOT NULL,
    [ProductId] INT NULL,
    [Quantity] INT NULL,
    [UserId] INT NULL,
    PRIMARY KEY CLUSTERED ([CartId] ASC)
);
GO

-- Tạo bảng 'categories'
CREATE TABLE [dbo].[categories] (
    [CategoryId] INT IDENTITY(1,1) NOT NULL,
    [Name] VARCHAR(50) NULL,
    [ImageUrl] VARCHAR(MAX) NULL,
    [IsActive] BIT NULL,
    [CreatedDate] DATETIME NULL,
    PRIMARY KEY CLUSTERED ([CategoryId] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Tạo bảng 'Contact'
CREATE TABLE [dbo].[Contact] (
    [ContactId] INT IDENTITY(1,1) NOT NULL,
    [Name] VARCHAR(50) NULL,
    [Email] VARCHAR(50) NULL,
    [Subject] VARCHAR(200) NULL,
    [Message] VARCHAR(MAX) NULL,
    [CreatedDate] DATETIME NULL,
    PRIMARY KEY CLUSTERED ([ContactId] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Tạo bảng 'Orders'
CREATE TABLE [dbo].[Orders] (
    [OrderDetailsId] INT IDENTITY(1,1) NOT NULL,
    [OrderNo] VARCHAR(MAX) NULL,
    [ProductId] INT NULL,
    [Quantity] INT NULL,
    [UserId] INT NULL,
    [Status] VARCHAR(50) NULL,
    [PaymentId] INT NULL,
    [OrderDate] DATETIME NULL,
    PRIMARY KEY CLUSTERED ([OrderDetailsId] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Tạo bảng 'Payment'
CREATE TABLE [dbo].[Payment] (
    [PaymentId] INT IDENTITY(1,1) NOT NULL,
    [Name] VARCHAR(50) NULL,
    [CardNo] VARCHAR(50) NULL,
    [ExpiryDate] VARCHAR(50) NULL,
    [CvvNo] INT NULL,
    [Address] VARCHAR(MAX) NULL,
    [PaymentMode] VARCHAR(50) NULL,
    PRIMARY KEY CLUSTERED ([PaymentId] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Tạo bảng 'Products'
CREATE TABLE [dbo].[Products] (
    [ProductId] INT IDENTITY(1,1) NOT NULL,
    [Name] VARCHAR(50) NULL,
    [Description] VARCHAR(MAX) NULL,
    [Price] DECIMAL(18, 2) NULL,
    [Quantity] INT NULL,
    [ImageUrl] VARCHAR(MAX) NULL,
    [CategoryId] INT NULL,
    [IsActive] BIT NULL,
    [CreatedDate] DATETIME NULL,
    PRIMARY KEY CLUSTERED ([ProductId] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Tạo bảng 'Users'
CREATE TABLE [dbo].[Users] (
    [UserId] INT IDENTITY(1,1) NOT NULL,
    [Name] VARCHAR(50) NULL,
    [Username] VARCHAR(50) NULL,
    [Mobile] VARCHAR(50) NULL,
    [Email] VARCHAR(50) NULL,
    [Address] VARCHAR(MAX) NULL,
    [PostCode] VARCHAR(50) NULL,
    [Password] VARCHAR(50) NULL,
    [ImageUrl] VARCHAR(MAX) NULL,
    [CreatedDate] DATETIME NULL,
    PRIMARY KEY CLUSTERED ([UserId] ASC),
    UNIQUE NONCLUSTERED ([Username] ASC),
    UNIQUE NONCLUSTERED ([Email] ASC)
) TEXTIMAGE_ON [PRIMARY];
GO

-- Khóa ngoại và các bảng liên kết
ALTER TABLE [dbo].[carts]
ADD CONSTRAINT [FK_carts_Products] FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products]([ProductId]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[carts]
ADD CONSTRAINT [FK_carts_Users] FOREIGN KEY([UserId]) REFERENCES [dbo].[Users]([UserId]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[Orders]
ADD CONSTRAINT [FK_Orders_Payment] FOREIGN KEY([PaymentId]) REFERENCES [dbo].[Payment]([PaymentId]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[Orders]
ADD CONSTRAINT [FK_Orders_Products] FOREIGN KEY([ProductId]) REFERENCES [dbo].[Products]([ProductId]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[Orders]
ADD CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId]) REFERENCES [dbo].[Users]([UserId]) ON DELETE CASCADE;
GO

ALTER TABLE [dbo].[Products]
ADD CONSTRAINT [FK_Products_categories] FOREIGN KEY([CategoryId]) REFERENCES [dbo].[categories]([CategoryId]) ON DELETE CASCADE;
GO

-- Kích hoạt chế độ đọc ghi
USE [master];
GO

-- Thêm dữ liệu vào bảng 'Products'
INSERT INTO [dbo].[Products] ([Name], [Description], [Price], [Quantity], [ImageUrl], [CategoryId], [IsActive], [CreatedDate])
VALUES 
('Burger', 'Delicious beef burger', 3.50, 50, 'burger.jpg', 1, 1, GETDATE()),
('Pizza', 'Cheese and pepperoni pizza', 8.00, 30, 'pizza.jpg', 1, 1, GETDATE()),
('Coke', 'Coca-Cola can 330ml', 1.20, 100, 'coke.jpg', 2, 1, GETDATE()),
('Chocolate Cake', 'Chocolate sponge cake', 4.50, 20, 'chocolate_cake.jpg', 3, 1, GETDATE());
